name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types: [ published ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - run: rustup default nightly
    - name: Build
      run: cargo build --release --verbose -Z unstable-options --out-dir ./out
    - name: Compress output
      run: tar -zcvf proxy.tar.gz ./out
    - uses: actions/upload-artifact@v2
      with:
        name: proxy-${{ runner.OS }}.tar.gz
        path: proxy.tar.gz
    - name: Upload Release Asset
      if: github.event == 'release'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: proxy.tar.gz
        asset_name: proxy-${{ runner.OS }}.tar.gz
        asset_content_type: application/zip

  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Publish to Docker
      uses: jerray/publish-docker-action@master
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: spectacles/proxy
        auto_tag: true
